@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;

  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
body {
  background-repeat: no-repeat;
}

html {
  min-height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8.5%;
  padding-right: 8.5%;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: -500px;
  backdrop-filter: blur(35px);
  margin-bottom: auto;
  background-color: rgba(255, 255, 255, 0.6);
}
.con {
  background-size: cover;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
  align-items: center;
}
.col-1 {
  flex-basis: 60%;
  position: relative;
  margin-left: 50px;
}
.col-1 h2 {
  font-size: 54px;
}
.col-1 h3 {
  font-size: 30px;
  color: #db612d;
  font-weight: 500;

  margin: 20px 0 10px;
}

.col-1 p {
  font-size: 22px;
  color: #dd4d5f;
  font-weight: 350;
}

.col-1 h4 {
  font-size: 20px;
  margin: 30px 0;
}

button {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #fb5283, #ff3527);
  border-radius: 6px;
  cursor: pointer;
  background: #ff6062;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  transition: width 0.5s;
}
button img {
  width: 30px;
  display: none;
}

button:hover img {
  display: block;
}
button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-2 {
  position: relative;
  flex-basis: 40%;
  display: flex;
  align-items: center;
}
.controller {
  height: 42.5rem;
}
.col-2 .controller {
  width: 90%;
}

.footer {
  text-align: center;
  margin-top: 10%;
  background-color: lightsalmon;
  height: 10rem;
}

.contact-heading-img-div {
  align-items: center;
  justify-content: space-between;
  margin-left: 60px;
}
.column {
  float: left;
  width: 13.33%;
  padding: 1px;
}
.insta {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  background: #f3ecec;
  box-shadow: 6px 6px 12px #b1acac, -6px -6px 12px #ffffff;
}
@media only screen and (max-width: 700px) {
  .insta {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    background: #f3ecec;
    box-shadow: 6px 6px 12px #b1acac, -6px -6px 12px #ffffff;
  }
  .column {
    width: 18%;
    align-items: center;
    justify-content: center;
  }
  .row {
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .col-2 {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
  .controller {
    height: 20rem;
    transform: translateX(55px);
  }
  .col-2 .controller {
    width: 77%;
  }
  .color-box {
    transform: translateX(145px);
  }
  .col-1 {
    flex-basis: 100%;
  }
  .col-1 h2 {
    font-size: 35px;
  }
  .col-1 h3 {
    font-size: 15px;
  }
}
